@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Space+Grotesk&display=swap');

/* cursor */
.cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 2px;
    transition: transform .3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 100000000000000000000000000000000000000000;
    background-color: #000;
}

.grow, .grow-small{
    transform: scale(10);
    background: #fff;
    mix-blend-mode: difference;
    border: none;
}
.grow-small{
    transform: scale(3.5);
}

/*scrollbar*/
::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0.995);
}

::-webkit-scrollbar-thumb{
    background-color: black;
}

/* html */

html{
    cursor:none;
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #fffbfb;
}

.hidden {
    overflow: hidden;
}

/* fixed */
.fixed {
    position: fixed;
    width: min-content;
    padding: 0px 20px;
    font-size: 8px;
    font-family: 'Bruno Ace SC', cursive;
    background-color: #000000;
    color: rgb(225, 220, 220);
    transform: rotate(90deg) translate(90%, 110%);
    letter-spacing: 2px;
    z-index: 50;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    position: absolute;
    width: 30px;
    height: 20px;
    top: 5%;
    right: 5%;
}

.bars {
    width: 30px;
    height: 4px;
    background: #000;
}

.bars::before,
.bars::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #000;
}

.bars::before {
    margin-top: 9px;
}

.bars::after {
    margin-top: 18px;
}

nav {
    z-index: 5000;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #ffffff;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    width: 0;
    transform-origin: right;
    backdrop-filter: blur(10px);
}

nav ul {
    position: relative;
    top: 50%;
    transform: translate(0, -35%);
    list-style: none;
}

nav ul li {
    margin: 50px 0;
}

nav ul li a {
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
    opacity: 0;
    cursor: none;
}

nav ul li a:after {
    position: absolute;
    content: '';
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 3px;
    bottom: -10px;
    border-radius: 10px;
    left: 0;
    transform-origin: left;
    transition: transform .5s ease;
    transform: scaleX(0);
}

nav ul li a:hover:after {
    transform: scaleX(1);
}

nav .close {
    width: 30px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 6%;
    right: 5%;
    opacity: 0;
}

nav .close::after,
nav .close::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: rgb(255, 0, 0);
    transition: background .5s ease;
}

nav .close:before {
    transform: rotate(-45deg);
}

nav .close::after {
    transform: rotate(45deg);
}

/* main */

#main {
    overflow: hidden;
    padding: 20px;
    height: 100vh;
    background-image: radial-gradient(rgb(154, 154, 154), rgb(235, 228, 228)70%);
    /* background-color: black; */
}

.work {
    width: fit-content;
    padding: 5px 20px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-family: monospace;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    z-index: 20;
    top: 40%;
    left: 50%;
    transform: translate(60%, -80%);
}

.b {
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(0, -20%);
}

.bg {
    height: 500px;
    width: 500px;
    background-image: radial-gradient(rgb(147, 141, 141), rgb(255, 255, 255));
    border-radius: 100%;

}

.cover {
    margin: auto;
    width: 500px;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.cover img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -48%);
    width: 800px;
    z-index: 10;
}

.text {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0);
    width: 90vw;
    overflow: hidden;
    position: relative;
    top: -62%;
}

.text h1 {
    line-height: 0;
    font-family: 'Bruno Ace SC', cursive;
    display: flex;
    position: relative;
    width: 1000px;
    font-size: 80px;
    white-space: nowrap;
    font-weight: 400px;
    letter-spacing: 3px;
}

.text2 h1 {
    /* top: 7px; */
    position: relative;
    color: #00000076;
    z-index: 2;
    animation: anim 5s alternate-reverse infinite;
}

.text3 h1 {
    /* top: -2px; */
    -webkit-text-stroke: 4px rgb(0, 0, 0);
    z-index: 20;
    animation: scroll 6s alternate-reverse infinite;
}

.text4 h1 {
    /* top: -14px; */
    color: #00000076;
    z-index: 2;
    animation: anim 6s alternate-reverse infinite;
}

@keyframes anim {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.about {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 120px 20vw 20px;
    justify-content: space-around;
    background-image: linear-gradient(rgb(236, 227, 227), rgb(189, 184, 184));
    gap: 20px;

}

.aboutTxt,
.iphone {
    width: 400px;
    margin-bottom: 50px;
}

.aboutTxt {
    margin-top: 150px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 25px;
    text-align: center;
}

.aboutTxt span {
    font-size: 35px;
    font-weight: 500;
    color: rgba(249, 112, 0, 0.842);
    font-family: 'Dancing Script', cursive;
}

.aboutTxt .hey {
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px rgb(103, 101, 101);
    font-size: 55px;
    text-align: left;
}

.line {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    content: '';
    width: 300px;
    height: 6px;
    border-radius: 100px;
    background-image: linear-gradient(rgb(170, 167, 167), white);

}

/*-------------------phone -----------*/

.iphone {
    height: 600px;
}

.mobile {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.phone,
.page {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.phone {
    width: 300px;
}

.page {
    overflow-y: scroll;
    width: 266px;
    height: 570px;
    border-radius: 41px;
    /* background-color: rgb(143, 95, 31); */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.page::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.page {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.one,
.two {
    overflow-x: hidden;
    height: 570px;
}

.one {
    background-color: rgb(0, 0, 0);
}

.one img {
    position: relative;
    left: 50%;
    transform: translate(-50%, 6%);
    width: 340px;
}

.wallpaper p {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 10px;
    position: relative;
    top: 35px;
    width: fit-content;
    margin: 0 auto;
    animation: lockscreenp infinite 1s ease-in-out alternate-reverse;
}


@keyframes lockscreenp {
    0% {
        opacity: 0.9;
        top: 35px;
    }

    10% {
        top: 35px;
        opacity: 0.9;
    }

    100% {
        top: 20px;
        opacity: 0;
    }
}

.one .lock {
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: 100px;
    height: 3px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    animation: lockscreen infinite 1s ease-in-out alternate-reverse;
}

@keyframes lockscreen {
    0% {
        top: 50px;
    }

    10% {
        top: 50px;
    }

    100% {
        top: 45px;
    }
}

.two {
    font-size: 40px;
    font-family: monospace;
    text-align: center;
    color: #e7e1e1;
    text-shadow: 2px 2px 2px rgb(70, 71, 71);
    padding: 0 20px;
    background-image: repeating-radial-gradient(farthest-corner at 00px 0px, black 25%, rgb(88, 88, 163) 30%);
    background-size: 200% 200%;
    animation: color 20s ease-in-out alternate infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    10% {
        background-position: 50% 100%;
    }

}

.two h3 {
    padding: 20px 0;
    border-radius: 10px;
}

.con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    margin-bottom: 20px;
    width: 100px;
    height: 150px;
}

.box a {
    text-shadow: none;
    position: relative;
    line-height: 1px;
    font-size: 12px;
    text-decoration: none;
    color: rgb(255, 252, 252);
    text-shadow: 2px 1px 1px rgb(8, 8, 8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

.box i {
    text-shadow: 2px 1px 1px rgb(8, 8, 8);
    color: rgb(135, 157, 201);
    font-size: 50px;
}

/* -----------------------skill ------------------------*/

.skill {
    color: #000000a6;
    background-color: rgb(249, 243, 243);
    text-shadow: 5px 5px 5px rgb(108, 107, 107);
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.249);
    padding: 0 40px 20px;
    font-size: 30px;
    text-align: center;
    /* color: transparent; */
    font-family: 'Space Grotesk', sans-serif;
    overflow: hidden;
}

.row {
    display: flex;
    animation: skill 10s linear infinite;
    width: fit-content;
    gap: 30px;
    position: relative;
}

@keyframes skill {
    0% {
        transform: translateX(-2000px);
    }

    100% {
        transform: translateX(0px);
    }
}

.img {
    height: 100px;
    width: 100px;
}

.img img {
    width: 80%;
}

.express,
.mongo,
.mongoose {
    width: 150px;
}

.mongo {
    position: relative;
    top: -30px;
}

.mongoose {
    position: relative;
    top: 20px;
}

/* project */
.project{
    width: 100vw;
    overflow: hidden;
    
}

.project .phead{
    background-color: #000000;
    transition: 0.4s;
    overflow: hidden;
    position: relative;
    display: flex;
    font-size: 5vmin;
    font-weight: 100;
    width: 200vw;
    letter-spacing: 4px;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-family: 'Space Grotesk', sans-serif;
    /* color: transparent; */
}

.project:hover .phead{
    background-color: #ffffff;
}

.phead h1{
    animation: ph 4s alternate-reverse infinite;
}

@keyframes ph {
    from{
        transform: translate(50px);
    }
    
    to{
        transform: translate(-150px);
    }
}

/* .a{
    animation: anim 10s ;
} */

.cardCtn{
    overflow: hidden;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translate(-50% , -100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px 50px;
    padding: 150px 50px;
    z-index: 20;
}

.cardCover{
    width: 400px;
}

.cardCtn .card{
    background-image: linear-gradient(rgba(229, 222, 222, 0.205) , rgba(255, 255, 255, 0.572));
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    box-shadow: 30px 35px 108px rgba(0, 0, 0, 0.412);
    transition: 0.2s;
    backdrop-filter: blur(6px);
}

.cardCtn .cardCover:hover .card{
    width: 380px;
    height: 350px;
    border-radius: 20px;
}

.imgBx{
    background-color: #e7e1e1;
    position: absolute;
    top: 40px;
    width: 350px;
    height: 160px;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 12px;
    border: 6px solid rgb(255, 255, 255);
}

.cardCtn .cardCover:hover .imgBx{
    top: -100px;
    transform: scale(0.8);
    border-radius: 50px;
}

.imgBx img{
    z-index: 30;
    width: 100%;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);

}

.project .cardCover .content{
    width: 350px;
    position: relative;
    top: 60px;
    transform-origin: center;
    transform: scale(0.000000000001);
    z-index: 2;
    transition: 0s;
}

.cardCtn .cardCover:hover .content{
    transform: scale(1);
    transition: 0.5s;
}

.project .cardCtn .content h3{
    font-size: 25px;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0 40px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.886);
    color: white;
    border-radius: 10px; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;   
}

.project .cardCtn .content h3 .date{
    position: relative;
    font-size: 12px;
    color: grey;
    top: 15px;
}

.project .cardCtn .content p{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: #00000045;
    padding: 5px 10px;
    border-radius: 10px;
    backdrop-filter: blur(1px);
}

.project .cardCtn .content .desc{
    margin: 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.project .cardCtn .content .desc .list{
    font-weight: 400;
    display: flex;
}

.project .cardCtn .content .desc .list ul{
    width: fit-content; 
    position: relative;
    left: -10px;  
}

.project .cardCtn .content .link {
    position: relative;
    top:-25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.project .cardCtn .content .link a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: sans-serif;
}

/* footer */
footer{
    position: relative;
    mix-blend-mode: difference;
    z-index: 2;
    height: 75vh;
    overflow: hidden;
}

footer h1{
    color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    font-size: 8vmax;
    font-family: 'Space Grotesk', sans-serif;
}

.square{
    width: 80vw;
    height: 80vw;
    background-color: rgb(253, 253, 253);
    border-radius: 20%;
    position: relative;
    left: 50%;
    transform: translate(-50% , -30vh);
    mix-blend-mode: difference;
    animation: rot 5s alternate infinite;
}


footer .footS{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    transform: translate(-45%);
    gap: 20px;
    width: fit-content;
    z-index: 30;
}

footer .footS .box{
    position: relative;
    top:-20px;
    display: flex;
    height: fit-content;
    mix-blend-mode: difference;
}

footer .footS .box i{
    text-shadow: none;
    display: flex;
    justify-content: center;
    mix-blend-mode: difference;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

footer .footS .box a{
    position: relative;
    text-shadow: none;
    color: black;
    mix-blend-mode: difference;
}

footer .copy{
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: 900;
    position: relative;
    top:-30px;
}

@keyframes rot {
    0%{
        transform: translate(-50% , -50%)  rotate(0deg)  scale(0.3);
    }

    100%{
        transform: translate(-50% , -50%)  rotate(360deg)  scale(1);
    }
    
}

@media screen and (max-width: 1700px) {

    .project .cardCtn{
        width: 85vw;
    }
}

@media screen and (max-width: 1000px) {
    .aboutTxt {
        margin-top: 0px;
    }

    footer{
        height: 50vh;
    }
}



@media screen and (max-width: 600px){
    .project {
        /* font-size: 2.2vmax; */
        transform: scale(0.999);
    }
}

@media screen and (max-width: 480px) {
    .text {
        top: -60%
    }

    .text h1 {
        font-size: 70px;
    }

    .text1 h1 {
        top: 14px;
    }

    .text4 h1 {
        top: 14%;
    }

    .cover {
        height: 94vh;
        margin: 15px auto;
        width: 400px;
    }

    .cover img {
        width: 600px;
    }

    .work {
        padding: 5px 15px;
        transform: translate(40%, -40%);
    }

    .b {

        width: 90vw;
    }

    .bg {
        position: relative;
        top: 10px;
        left: -17%;
    }

    .cardCtn{
        width: 75vw;
    }

    footer{
        height: 40vh;
    }

    .cursor{
        height: 0px;
        width: 0px;
    }

    .square{
        height: 90vw;
        width: 90vw;
    }
}